<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goottflix.friend.entity.repository.FriendMapper">


    <select id="searchFriend" parameterType="String" resultType="FriendNotifyDTO">
        SELECT id, username, email FROM user
        WHERE username = #{searchTerm}
    </select>

    <insert id="addFriend" parameterType="map">
        INSERT INTO friends (user_id, friend_id)
        VALUES (#{userId}, #{friendId})
    </insert>


    <select id="friendList" parameterType="Long" resultType="FriendNotifyDTO">
        SELECT f.id, u.username, u.email
        FROM friends f
        JOIN user u ON f.friend_id = u.id
        WHERE f.user_id = #{userId}
    </select>

</mapper>