<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.goottflix.user.model.repository.UserMapper">

   <select id="existsByLoginId" resultType="boolean" parameterType="String">
       SELECT COUNT(*) > 0
       FROM user
       WHERE loginId = #{loginId}
    </select>
    <select id="existsByEmail" resultType="boolean" parameterType="String">
        SELECT COUNT(*) > 0
        FROM user
        WHERE email = #{email}
    </select>
    <select id="existsByUsername" resultType="boolean" parameterType="String">
        SELECT COUNT(*) > 0
        FROM user
        WHERE username = #{username}
    </select>

    <insert id="joinIn" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username,password_hash,role, email,oauthId, birth, gender, loginId)
         VALUES (#{username}, #{passwordHash}, #{role}, #{email},#{oauthId},#{birth}, #{gender}, #{loginId})
    </insert>

    <select id="findByUserId" resultType="UserListDTO" parameterType="Long">
        SELECT u.id, u.username, u.email, u.birth, u.gender, u.created_at,
               u.last_login,u.`role`, u.subscribe, u.profile_image,s.subscribe_end expiration,
               (SELECT COUNT(*) FROM review r WHERE r.user_id = u.id) watched,
               (SELECT COUNT(*) FROM review r WHERE r.user_id = u.id AND r.review IS NOT NULL) comment,
               (SELECT COUNT(*) FROM friends f WHERE f.user_id = u.id) friends
        FROM user u
        LEFT JOIN subscribe s ON s.user_id = u.id
        WHERE u.id = #{userId}
    </select>
    <select id="getRatingByUserId" resultType="RatingDTO" parameterType="Long">
        SELECT
            ur.rating AS rating, ur.user_rating_count, ar.all_rating_count
        FROM
            (SELECT rating, COUNT(*) AS user_rating_count
             FROM review
             WHERE user_id = #{userId}
             GROUP BY rating) AS ur
                RIGHT JOIN
            (SELECT rating, COUNT(*) AS all_rating_count
             FROM review
             GROUP BY rating) AS ar
            ON ur.rating = ar.rating
        ORDER BY ar.rating;
    </select>


    <select id="findUserByUserId" resultType="User" parameterType="Long">
    SELECT * FROM user where id = #{userId}
    </select>
    <select id="findImageById" resultType="String" parameterType="Long">
        SELECT profile_image FROM user WHERE id = #{userId}
    </select>


    <select id="findByUserName" resultType="User" parameterType="String">
        SELECT * FROM user where username = #{username}
    </select>
    <select id="findByLoginId" resultType="User" parameterType="String">
        SELECT * FROM user where loginId = #{loginId}
    </select>
    <select id="findByOauthId" resultType="User" parameterType="String">
        SELECT * FROM user where oauthId = #{oauthId}
    </select>

    <select id="findAllUserId" resultType="Long">
        SELECT id FROM user
    </select>

    <update id="updateUser" parameterType="User" >
        UPDATE user set username = #{username},
                        email = #{email},
                        role = #{role},
                        oauthId = #{oauthId}
                     where oauthId = #{oauthId}
    </update>
    <select id="getUserList" resultType="UserListDTO">
        SELECT id,loginId, username, email, birth, gender, created_at, last_login, role, is_active, subscribe, profile_image
        FROM user
    </select>

    <update id="setUserAdmin" parameterType="Long">
        UPDATE user SET role = 'ROLE_ADMIN' where id = #{userId}
    </update>
    <update id="setUserUser" parameterType="Long">
        UPDATE user SET role = 'ROLE_USER' where id = #{userId}
    </update>
    <update id="setUserSubscribe" parameterType="Long">
        UPDATE user SET subscribe = 'subscribe' where id = #{userId}
    </update>
    <update id="setUserExpired" parameterType="Long">
        UPDATE user SET subscribe = 'expired' where id = #{userId}
    </update>
    <update id="updateProfile" parameterType="UpdateDTO">
        UPDATE user SET username = #{username},
                        birth = #{birth},
                        gender = #{gender},
                        profile_image = #{profileImage}
        WHERE id = #{id}
    </update>
    <update id="setUpdateLastLogin" parameterType="Long">
        UPDATE user SET last_login = now() WHERE id = #{id}
    </update>

    <select id="findByEmail" parameterType="String" resultType="LoginDTO">
        SELECT loginId, password_hash FROM user
        WHERE email = #{email}
    </select>
    <update id="setUserNewPassword" parameterType="LoginDTO">
        UPDATE user SET password_hash = #{password} where loginId = #{loginId}
    </update>

    <select id="getUserSubscribe" resultType="String">
        select subscribe from user where id = #{userId}
    </select>

    <select id="getUserName" resultType="String">
        SELECT username FROM user WHERE id = #{userId}
    </select>

    <delete id="withdrawUser" parameterType="Long">
        delete from user where id = #{userId}
    </delete>


</mapper>
