<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.goottflix.dbapi.entity.repository.ApiMovieRepository">

   <insert id="saveApiMovies">
        INSERT INTO apimovie (movieName, director, openDt, prdtYear, nationAlt, movieCd, genre, repGenre)
        VALUES (#{movieName}, #{director}, #{openDt}, #{prdtYear}, #{nationAlt}, #{movieCd} , #{genre} , #{repGenre})
    </insert>

</mapper>
