<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goottflix.notify.entity.repository.NotifyMapper">

<!--알림 저장하는 sql문-->
    <insert id="insertNotify" parameterType="NotifyEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notifys (content, url, is_read, notify_type, user_id, movie_id)
        VALUES (#{content}, #{url}, #{isRead}, #{notifyType}, #{userId}, #{movieId});
    </insert>

<!--사용자가 알림 읽었는지 파악하는 sql문-->
    <update id="updateIsRead" parameterType="map">
        UPDATE notifys
        SET is_read = true
        WHERE id = #{notifyId} AND user_id = #{userId};
    </update>

<!--알림 전체 조회 sql문-->
    <select id="findAllUserNotify" resultType="NotifyEntity">
        SELECT * FROM notifys WHERE user_id = #{userId}
    </select>

<!--알림 삭제 -->
    <delete id="deleteNotify" parameterType="long">
        delete from notifys where id = #{notifyId}
    </delete>


</mapper>